.navigation {
    display: flex;
    justify-content: flex-start;
}

.navlink {
    margin-left: 10px;
}
.navlink a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.navlink a:hover {
    color: rgb(100, 52, 233);
}

.navlink a.active {
    color: rgb(100, 52, 233);
}
